<h3>{{ _('MQTT Required!') }}</h3>

<p>{% trans url="https://plugins.octoprint.org/plugins/mqtt/" %}
    You must install the <a href="{{ url }}" target="_blank">MQTT</a> plugin and configure it to connect to an MQTT server with <b>RETAIN</b> flags enabled.
{% endtrans %}</p>
